* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 230px;
    margin-right: 230px;
    
   
    

}

/*--------------------------------*/
/*Header*/
.header {
    background-color: #1F2937;
    flex: 1 1 auto;
    color: white;
    

}

.header-content {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}

.header-list {
    display: inline;
    justify-content: flex-end;
    flex: 0 0 50%;
    order: -1;
    
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    color: white;
    
}


.header-logo {
    flex: 0 0 50%;
    order: -2;
}

.header-image {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    order: 2;
   
}
.header-image img {
    flex-grow: 1;
}

.sign-up-container {
    justify-content: flex-end;
    flex-direction: column;
    flex: 0 0 50%;
    order: 1;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
/*--------------------------------*/
/*Content*/
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    min-height: 800px;
    min-width: 800px;
}

.top {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-direction: column;
}
.text-box h1 {
    
    color: black;
    
}
.text-box {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
}
.top img {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 6px;
    border-width: 4px;
    
}
.top-images {
    display: flex;
    justify-content: space-evenly;
}
.mid {
    flex: 1 1 auto;
    display: flex;
    background-color: #e5e7eb;
} 
.action {
    flex: 1 1 auto;
    display: flex;
}


/*--------------------------------*/
/*footer*/
.footer {
flex: 1 0 800px;
}


/*--------------------------------*/
/*Tag selectors*/
img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;

}

h1 {
    margin: 0px;
    color: white;
}

ul {
    margin: 0px;
}

button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border-style: none;

}

figcaption {
    text-align: center;
}

